body {
	background-color: rgb(178,124,0);
	background-image: url('http://sohanews.sohacdn.com/thumb_w/660/2018/4/18/photo1524042951271-15240429512751070374477.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 400px 200px;
}
h1 {
	color: yellow;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
p {
	color: white;
	text-align: left;
	font-size: 20px;
}